/include/ "system-conf.dtsi"
/include/ "pl.dtsi"

/ {
	
	chosen {
		bootargs = "console=ttyPS0,115200n8 earlycon clk_ignore_unused initcall_blacklist=si570_driver_init root=/dev/ram rw cma=1700M cpuidle.off=1";
		stdout-path = "serial0:115200n8";
	};

	plmem: sram@400000000 {
		compatible = "mmio-sram";
		reg = <0x4 0x00000000 0x1 0x00000000>;
		ranges;
		#address-cells = <2>;
		#size-cells = <2>;
		plmem_pool0: pool@0 {
			reg = <0x4 0x10000000 0x0 0x8000000>;
		}; 
		plmem_pool1: pool@1{
			reg = <0x4 0x18000000 0x0 0x8000000>;
		}; 
		plmem_pool2: pool@2{
			reg = <0x4 0x20000000 0x0 0x8000000>;
		}; 
		plmem_pool3: pool@3{
			reg = <0x4 0x28000000 0x0 0x8000000>;
		};
		plmem_pool4: pool@4 {
			reg = <0x4 0x30000000 0x0 0x8000000>;
		}; 
		plmem_pool5: pool@5{
			reg = <0x4 0x38000000 0x0 0x8000000>;
		}; 
		plmem_pool6: pool@6{
			reg = <0x4 0x40000000 0x0 0x8000000>;
		}; 
		plmem_pool7: pool@7{
			reg = <0x4 0x48000000 0x0 0x8000000>;
		};
		plmem_pool8: pool@8 {
			reg = <0x4 0x50000000 0x0 0x8000000>;
		}; 
		plmem_pool9: pool@9{
			reg = <0x4 0x58000000 0x0 0x8000000>;
		}; 
		plmem_pool10: pool@10{
			reg = <0x4 0x60000000 0x0 0x8000000>;
		}; 
		plmem_pool11: pool@11{
			reg = <0x4 0x68000000 0x0 0x8000000>;
		};
		plmem_pool12: pool@12 {
			reg = <0x4 0x70000000 0x0 0x8000000>;
		}; 
		plmem_pool13: pool@13{
			reg = <0x4 0x78000000 0x0 0x8000000>;
		}; 
		plmem_pool14: pool@14{
			reg = <0x4 0x80000000 0x0 0x8000000>;
		}; 
		plmem_pool15: pool@15{
			reg = <0x4 0x88000000 0x0 0x8000000>;
		};
		plmem_pool16: pool@16 {
			reg = <0x10 0x10000000 0x0 0x8000000>;
		}; 
		plmem_pool17: pool@17{
			reg = <0x10 0x18000000 0x0 0x8000000>;
		}; 
		plmem_pool18: pool@18{
			reg = <0x10 0x20000000 0x0 0x8000000>;
		}; 
		plmem_pool19: pool@19{
			reg = <0x10 0x28000000 0x0 0x8000000>;
		};
		plmem_pool20: pool@20 {
			reg = <0x10 0x30000000 0x0 0x8000000>;
		}; 
		plmem_pool21: pool@21{
			reg = <0x10 0x38000000 0x0 0x8000000>;
		}; 
		plmem_pool22: pool@22{
			reg = <0x10 0x40000000 0x0 0x8000000>;
		}; 
		plmem_pool23: pool@23{
			reg = <0x10 0x48000000 0x0 0x8000000>;
		};
		plmem_pool24: pool@24 {
			reg = <0x10 0x50000000 0x0 0x8000000>;
		}; 
		plmem_pool25: pool@25{
			reg = <0x10 0x58000000 0x0 0x8000000>;
		}; 
		plmem_pool26: pool@26{
			reg = <0x10 0x60000000 0x0 0x8000000>;
		}; 
		plmem_pool27: pool@27{
			reg = <0x10 0x68000000 0x0 0x8000000>;
		};
		plmem_pool28: pool@28 {
			reg = <0x10 0x70000000 0x0 0x8000000>;
		}; 
		plmem_pool29: pool@29{
			reg = <0x10 0x78000000 0x0 0x8000000>;
		}; 
		plmem_pool30: pool@30{
			reg = <0x10 0x80000000 0x0 0x8000000>;
		}; 
		plmem_pool31: pool@31{
			reg = <0x10 0x88000000 0x0 0x8000000>;
		};
	};
	pl_mem_dac: pl_mem_dac {
		compatible = "xlnx,pl-mem";
		xlnx,dac-device;	
		minor-number = <0>;	
		xlnx,dedicated-pl-mem = <&plmem_pool0>;
		dmas = <&DAC_DDR_DMA_axi_dma_0 0>;
		dma-names = "dac";
		size = <0x8000000>; 
	};
	pl_mem_dac1: pl_mem_dac1 {
		compatible = "xlnx,pl-mem";
		xlnx,dac-device;	
		minor-number = <1>;	
		xlnx,dedicated-pl-mem = <&plmem_pool1>;
		size = <0x8000000>; 
	};
	pl_mem_dac2: pl_mem_dac2 {
		compatible = "xlnx,pl-mem";
		xlnx,dac-device;	
		minor-number = <2>;	
		xlnx,dedicated-pl-mem = <&plmem_pool2>;
		size = <0x8000000>; 
	};
	pl_mem_dac3: pl_mem_dac3 {
		compatible = "xlnx,pl-mem";
		xlnx,dac-device;	
		minor-number = <3>;	
		xlnx,dedicated-pl-mem = <&plmem_pool3>;
		size = <0x8000000>; 
	};
	pl_mem_dac4: pl_mem_dac4 {
		compatible = "xlnx,pl-mem";
		xlnx,dac-device;	
		minor-number = <4>;	
		xlnx,dedicated-pl-mem = <&plmem_pool4>;
		size = <0x8000000>; 
	};
	pl_mem_dac5: pl_mem_dac5 {
		compatible = "xlnx,pl-mem";
		xlnx,dac-device;	
		minor-number = <5>;	
		xlnx,dedicated-pl-mem = <&plmem_pool5>;
		size = <0x8000000>; 
	};
	pl_mem_dac6: pl_mem_dac6 {
		compatible = "xlnx,pl-mem";
		xlnx,dac-device;	
		minor-number = <6>;	
		xlnx,dedicated-pl-mem = <&plmem_pool6>;
		size = <0x8000000>; 
	};
	pl_mem_dac7: pl_mem_dac7 {
		compatible = "xlnx,pl-mem";
		xlnx,dac-device;	
		minor-number = <7>;	
		xlnx,dedicated-pl-mem = <&plmem_pool7>;
		size = <0x8000000>; 
	};
	
	pl_mem_dac8: pl_mem_dac8 {
		compatible = "xlnx,pl-mem";
		xlnx,dac-device;	
		minor-number = <8>;	
		xlnx,dedicated-pl-mem = <&plmem_pool8>;
		size = <0x8000000>; 
	};
	pl_mem_dac9: pl_mem_dac9 {
		compatible = "xlnx,pl-mem";
		xlnx,dac-device;	
		minor-number = <9>;	
		xlnx,dedicated-pl-mem = <&plmem_pool9>;
		size = <0x8000000>; 
	};
	pl_mem_dac10: pl_mem_dac10 {
		compatible = "xlnx,pl-mem";
		xlnx,dac-device;	
		minor-number = <10>;	
		xlnx,dedicated-pl-mem = <&plmem_pool10>;
		size = <0x8000000>; 
	};
	pl_mem_dac11: pl_mem_da11 {
		compatible = "xlnx,pl-mem";
		xlnx,dac-device;	
		minor-number = <11>;	
		xlnx,dedicated-pl-mem = <&plmem_pool11>;
		size = <0x8000000>; 
	};
	pl_mem_dac12: pl_mem_da12 {
		compatible = "xlnx,pl-mem";
		xlnx,dac-device;	
		minor-number = <12>;	
		xlnx,dedicated-pl-mem = <&plmem_pool12>;
		size = <0x8000000>; 
	};
	pl_mem_dac13: pl_mem_dac13 {
		compatible = "xlnx,pl-mem";
		xlnx,dac-device;	
		minor-number = <13>;	
		xlnx,dedicated-pl-mem = <&plmem_pool13>;
		size = <0x8000000>; 
	};
	pl_mem_dac14: pl_mem_dac14 {
		compatible = "xlnx,pl-mem";
		xlnx,dac-device;	
		minor-number = <14>;	
		xlnx,dedicated-pl-mem = <&plmem_pool14>;
		size = <0x8000000>; 
	};
	pl_mem_dac15: pl_mem_dac15 {
		compatible = "xlnx,pl-mem";
		xlnx,dac-device;	
		minor-number = <15>;	
		xlnx,dedicated-pl-mem = <&plmem_pool15>;
		size = <0x8000000>; 
	};

	pl_mem_adc: pl_mem_adc {
		compatible = "xlnx,pl-mem";
		xlnx,adc-device;	
		minor-number = <16>;
		xlnx,dedicated-pl-mem = <&plmem_pool16>;
		dmas = <&ADC_DDR_DMA_axi_dma_0 1>;
		dma-names = "adc";
		size = <0x8000000>; 
	};
	pl_mem_adc1: pl_mem_adc1 {
		compatible = "xlnx,pl-mem";
		xlnx,adc-device;
		minor-number = <17>;	
		xlnx,dedicated-pl-mem = <&plmem_pool17>;
		size = <0x8000000>; 
	};
	pl_mem_adc2: pl_mem_adc2 {
		compatible = "xlnx,pl-mem";
		xlnx,adc-device;	
		minor-number = <18>;	
		xlnx,dedicated-pl-mem = <&plmem_pool18>;
		size = <0x8000000>; 
	};
	pl_mem_adc3: pl_mem_adc3 {
		compatible = "xlnx,pl-mem";
		xlnx,adc-device;
		minor-number = <19>;	
		xlnx,dedicated-pl-mem = <&plmem_pool19>;
		size = <0x8000000>; 
	};
	pl_mem_adc4: pl_mem_adc4 {
		compatible = "xlnx,pl-mem";
		xlnx,adc-device;	
		minor-number = <20>;	
		xlnx,dedicated-pl-mem = <&plmem_pool20>;
		size = <0x8000000>; 
	};
	pl_mem_adc5: pl_mem_adc5 {
		compatible = "xlnx,pl-mem";
		xlnx,adc-device;
		minor-number = <21>;	
		xlnx,dedicated-pl-mem = <&plmem_pool21>;
		size = <0x8000000>; 
	};
	pl_mem_adc6: pl_mem_adc6 {
		compatible = "xlnx,pl-mem";
		xlnx,adc-device;	
		minor-number = <22>;	
		xlnx,dedicated-pl-mem = <&plmem_pool22>;
		size = <0x8000000>; 
	};
	pl_mem_adc7: pl_mem_adc7 {
		compatible = "xlnx,pl-mem";
		xlnx,adc-device;
		minor-number = <23>;	
		xlnx,dedicated-pl-mem = <&plmem_pool23>;
		size = <0x8000000>; 
	};
	
	pl_mem_adc8: pl_mem_adc8 {
		compatible = "xlnx,pl-mem";
		xlnx,adc-device;	
		minor-number = <24>;
		xlnx,dedicated-pl-mem = <&plmem_pool24>;
		dma-names = "adc";
		size = <0x8000000>; 
	};
	pl_mem_adc9: pl_mem_adc9 {
		compatible = "xlnx,pl-mem";
		xlnx,adc-device;
		minor-number = <25>;	
		xlnx,dedicated-pl-mem = <&plmem_pool25>;
		size = <0x8000000>; 
	};
	pl_mem_adc10: pl_mem_adc10 {
		compatible = "xlnx,pl-mem";
		xlnx,adc-device;	
		minor-number = <26>;	
		xlnx,dedicated-pl-mem = <&plmem_pool26>;
		size = <0x8000000>; 
	};
	pl_mem_adc11: pl_mem_adc11 {
		compatible = "xlnx,pl-mem";
		xlnx,adc-device;
		minor-number = <27>;	
		xlnx,dedicated-pl-mem = <&plmem_pool27>;
		size = <0x8000000>; 
	};
	pl_mem_adc12: pl_mem_adc12 {
		compatible = "xlnx,pl-mem";
		xlnx,adc-device;	
		minor-number = <28>;	
		xlnx,dedicated-pl-mem = <&plmem_pool28>;
		size = <0x8000000>; 
	};
	pl_mem_adc13: pl_mem_adc13 {
		compatible = "xlnx,pl-mem";
		xlnx,adc-device;
		minor-number = <29>;	
		xlnx,dedicated-pl-mem = <&plmem_pool29>;
		size = <0x8000000>; 
	};
	pl_mem_adc14: pl_mem_adc14 {
		compatible = "xlnx,pl-mem";
		xlnx,adc-device;	
		minor-number = <30>;	
		xlnx,dedicated-pl-mem = <&plmem_pool30>;
		size = <0x8000000>; 
	};
	pl_mem_adc15: pl_mem_adc15 {
		compatible = "xlnx,pl-mem";
		xlnx,adc-device;
		minor-number = <31>;	
		xlnx,dedicated-pl-mem = <&plmem_pool31>;
		size = <0x8000000>; 
	};
};
	&clocking_block_clk_wiz_adc1 {
			clock-output-names = "clk_out11", "clk_out12", "clk_out13", "clk_out14", "clk_out15", "clk_out16", "clk_out17";
	};
	&clocking_block_clk_wiz_adc2 {
			clock-output-names = "clk_out21", "clk_out22", "clk_out23", "clk_out24", "clk_out25", "clk_out26", "clk_out27";
	};
	&clocking_block_clk_wiz_adc3 {
			clock-output-names = "clk_out31", "clk_out32", "clk_out33", "clk_out34", "clk_out35", "clk_out36", "clk_out37";
	};

	&clocking_block_clk_wiz_dac0 {
			clock-output-names = "clk_out41", "clk_out42", "clk_out43", "clk_out44", "clk_out45", "clk_out46", "clk_out47";
	};

	&clocking_block_clk_wiz_dac1 {
			clock-output-names = "clk_out51", "clk_out52", "clk_out53", "clk_out54", "clk_out55", "clk_out56", "clk_out57";
	};
	&clocking_block_clk_wiz_dac2 {
			clock-output-names = "clk_out61", "clk_out62", "clk_out63", "clk_out64", "clk_out65", "clk_out66", "clk_out67";
	};
	&clocking_block_clk_wiz_dac3 {
			clock-output-names = "clk_out71", "clk_out72", "clk_out73", "clk_out74", "clk_out75", "clk_out76", "clk_out77";
	};

/*
 * CAUTION: This should be disabled for single A53 run.
 */

/ {
	gpio-keys {
		sw19 {
			status = "disabled";
		};
	};
	leds {
		heartbeat_led {
			status = "disabled";
		};
	};
};

&uart1
{
	status = "disabled";
};