/include/ "system-conf.dtsi"
/include/ "pl.dtsi"

/ {
	
	chosen {
		bootargs = "earlycon clk_ignore_unused root=/dev/ram rw cma=1700M cpuidle.off=1";
		stdout-path = "serial0:115200n8";
	};


};
/delete-node/ &axi_dma_mm2s;
/delete-node/ &axi_dma_s2mm;

/* MathWorks AXI-DMA & AXI-lite nodes */
#include "axistream.dtsi"
