*/components/*
config.old
rootfs_config.old
*/*/.metadata
build/
pre-built/linux
*/images
*/.petalinux/*
!.petalinux/metadata
*.o
*.jou
*.log
*.a
*.elf
*/*/meta-plnx-generated/*
*/*/*/*/*/subdir.mk
*/*/*/.cproject

