*/*/config.old
*/*/rootfs_config.old
*/*/.metadata
build/
pre-built/linux
images/linux
.petalinux/*
!.petalinux/metadata
*.o
*.jou
*.log
*.a
*.elf
project-spec/meta-plnx-generated/recipes-bsp/device-tree/device-tree-generation_%.bbappend
project-spec/meta-plnx-generated/recipes-bsp/u-boot/configs/config.cfg
project-spec/meta-plnx-generated/recipes-bsp/u-boot/u-boot-xlnx_%.bbappend
project-spec/meta-plnx-generated/recipes-kernel/linux/linux-xlnx_%.bbappend
*/*/*/*/*/subdir.mk
*/*/*/.cproject
