*/*/config.old
*/*/rootfs_config.old
build/
images/
pre-built/linux/
.petalinux/*
!.petalinux/metadata
*.o
*.jou
*.log
/components/plnx_workspace
/components/yocto
components/
/project-spec/meta-mathworks
