[Match]
Type=ether
Name=!veth*
KernelCommandLine=!nfsroot
KernelCommandLine=!ip

[Network]
Address=192.168.1.101
DNS=255.255.255.0
Gateway=192.168.1.1
