menu "user packages " 
config libiio  
	 bool "libiio"
	 help
	
config libserialport  
	 bool "libserialport"
	 help
	
config boost  
	 bool "boost"
	 help
	
config boost-dev  
	 bool "boost-dev"
	 help
	
config gpio-demo  
	 bool "gpio-demo"
	 help
	
config lttng-ust  
	 bool "lttng-ust"
	 help
	
config lttng-ust-bin  
	 bool "lttng-ust-bin"
	 help
	
config mw-fs-overlay  
	 bool "mw-fs-overlay"
	 help
	
config peekpoke  
	 bool "peekpoke"
	 help
	
endmenu
